.Card {
  padding: 0rem 0 1rem 0;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 30vw;
  border-radius: 10px 10px 0 0px;
}

.info {
  padding: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
}

button[name="like"] {
  border: none;
  border-radius: 10px;
  padding: 0.5em 1.2em;
  font-size: 1rem;
  cursor: pointer;
}

button[name="like"]:active{
  font-size: 1.1rem;
  padding: 0.45rem 1.1rem;
}

.toggle-btn {
  background-color: #d50000;
  color: white;
}

button[name="like"]:hover {
  background-color: #d50000;
  color: white;
}

a > button {
  padding: 0.3em;
  margin-left: 0.8rem;
  border: none;
  border-radius: 5px;
}

a > button > img {
  height: 25px;
  width: 25px;
  vertical-align: text-bottom;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  img {
    width: 25vw;
  }
  section {
    font-size: 0.5rem;
  }
}
